.signupContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }

 
  
  .signupForm {
    background-color: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .signupForm h1 {
    text-align: center;
    color: #422311;
  }
  .userNameNote {
    font-size: 0.8rem;
    color: #a46f4e;
    font-style: italic;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .formButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
  }
  
  input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
  }
  
  input:focus {
    border-color: #8f8f66;
    outline: none;
  }
  
  .Error {
    color: #bd2b2b;
    background: #ffe2e2;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .formButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  button {
    flex: 1;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #d69940;;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
  }
  
  button:disabled {
    background-color: #d69940;;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #8f8f66;
  }
  
  .cancel{
    background-color: rgb(165, 165, 165)!important;
  }
  
  .cancle:hover {
    background-color: #555;
  }
  