.signinContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .signInForm {
    background-color: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .signInForm h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #422311;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
  }
  
  input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
  }
  
  input:focus {
    border-color: #8f8f66;
    outline: none;
  }
  
  .signinButton,
  .cancel {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #8f8f66;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
    width: 100%;
    margin-top: 1rem;
    background-color: #555;
  }
  
  .signinButton:disabled {
    background-color: #d69940;;
    cursor: not-allowed;
  }
  
  .signinButton:hover:not(:disabled),
  .cancel:hover {
    background-color: #d69940;;
  }
  
  .cancel {
    background-color: #555;
    margin-top: 10px;
    text-align: center;
  }
  
  .Error {
    color: #bd2b2b;
    background: #ffe2e2;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  