* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

body {
  overflow: auto;
}